[Desktop Entry]
Name=Telebrain
Comment=New era of messaging
TryExec=Telebrain
Exec=Telebrain -- %U
Icon=org.telebrain
Terminal=false
StartupWMClass=TelegramDesktop
Type=Application
Categories=Chat;Network;InstantMessaging;Qt;
MimeType=x-scheme-handler/tg;x-scheme-handler/tonsite;
Keywords=tg;chat;im;messaging;messenger;sms;telebrain;
Actions=quit;
DBusActivatable=true
SingleMainWindow=true
X-GNOME-UsesNotifications=true
X-GNOME-SingleWindow=true

[Desktop Action quit]
Exec=Telebrain -quit
Name=Quit Telebrain
Icon=application-exit
